// @import '../../app/variables.scss';

.o-loading{
    display: none;
    justify-content: center;
    align-items: center;
    margin: auto !important;
    background-color: $white-color;
    flex-direction: column;
    height: 100%;
    flex: 1;
    overflow: hidden;
    &.-visible{
        display: flex;
    }
}
.a-loading__image{
    margin-top: -10rem;
    width: 3rem;
}

.icon{
  &.icon-spin {
    -webkit-animation: icon-spin 2s infinite linear;
            animation: icon-spin 2s infinite linear;
  }
  &.icon-full-page{
    margin: 0;
  }
}

  
@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
  
@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}