@import '../../app/variables.scss';

.o-loading{
    display: none;
    justify-content: center;
    align-items: center;
    margin: auto !important;
    background-color: $white-color;
    flex-direction: column;
    height: 100%;
    flex: 1;
    overflow: hidden;
    &.-visible{
        display: flex;
    }
}
.a-loading__image{
    margin-top: -10rem;
    width: 3rem;
}
.a-loading__text{
    color:$base-color;
}
