@import '../app/variables.scss';

.icon.spotify-icon{
    color: #1DB954;
}

.icon.facebook-icon{
  color: #607295;
}
.icon.twitter-icon{
  color: #6F97BE;

}
.icon.google-icon{
  color: #A8655B;
}


.m-login-top__container {
  // flex: 1;
  // position: relative;

  overflow: hidden;
  flex-grow: 1;
  margin: 0;
  height: 50% !important;

  .image {
    min-height: 300px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    margin: auto;
    img{
      width: 15rem;
      top: 2rem;
      position: relative;
    }
  }
  .wave {
    opacity: .8;
    position: absolute;
    top: 3%;
    left: 50%;
    background: $color-5;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
  }
  
  .wave.-three {
    animation: drift 5000ms infinite linear;
    background: $color-4;

  }
  
  .wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .1;
    // background: $secondary-color;
    background: $color-3;

  }
  
  .m-login-top__container:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba($base-color, 1), rgba($secondary-color, 0) 80%, rgba($white-color, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }
}

.m-login-bottom__container{
  // flex: 1;
  // text-align: center;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // position: fixed;
  // bottom: 1rem;
  // width: 100%;
  // max-width: 600px;


  height: 50%;


    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 1rem;
    max-width: 600px;
    flex-grow: 1;



  .button{
    margin-bottom: 0.5rem;
    width: 13rem;
    justify-content: flex-start;
    }
}