// @import '../app/variables.scss';

.parallax-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 600px;
  margin: auto;
  background-color: $play-back;
}

.parallax-text{
  top: -2.5rem;
  position: relative;
}

.parallax-image {
  position: relative;
  transform-style: preserve-3d;
  height: calc(100% - 125px);
}

.parallax-background {
  transform: translateZ(-1px) scale(2);
  width: 100%;
  position: absolute;
  background: center;
  background-size: cover;
  height: 500px;
  top: -50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__container{
    filter: blur(0.3rem);
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    transform: scale(1.1);
    z-index: -1;
  }
  &__miniAlbum{
    width: 150px;
    height: 150px;
    background-size: cover;
    position: absolute;
    z-index: -1;
    left: 1rem;
    display: flex;
    border: 1px solid $text-color-gray-fade;
  }
}

.parallax-playlist {
  position: absolute;
  top: 250px;
  width: 100%; 
  height: 100%;
}

.m-song-exposer__container{
  color:$base-color;
  background-color: $text-color-gray-fade;
  left:4rem;
  margin-right: 5rem;
  position: relative;
  padding: 0.5rem;
  @media only screen and (min-width: 768px) {
    left:auto;
    margin-right: auto;
  }
}


.a-song-exposer__name,
.a-song-exposer__song,
.a-song-exposer__band{
  font-size: 1rem;
}

.a-song-exposer__name{
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  padding-bottom: 0;
  min-width: 7rem;
}

.a-song-exposer__band{
  margin-top: 0.5rem;
  font-size: 0.75rem;
  padding-top: 0;
  min-width: 7rem;
}



.button{
  &.play-button{
      // background-color: $text-color-gray;
      background-color: $text-color-gray-fade;
      color:$base-color;
      margin: 0 auto 1rem auto;
      .icon{
          color: $base-color;
      }
      &.-disabled{
          cursor: none;
          color: $text-color;
          .icon{
              cursor: none;
              color: $text-color;
          }
      }
  }
}