@import '../app/variables.scss';

.m-playlist__container{
  overflow: auto;
  height: 100%;
  background-color:transparent;

  &.-home{
    // height: 100vh;
    height: calc(100vh - 7rem);
    // margin-top: -6rem;
    .m-playlist__container__list{
      top: 6rem;
      height: calc(100% - 6rem);
    }
  }
}

.m-playlist__container__list{
  position: relative;
  background-color: $play-back;
  overflow: auto;
  height: 100%;
}