@import '../app/variables.scss';

.m-playlist__container{
  height: 50%;
  flex:1;
  background-color: $base-color-fade-lg;
  padding-top: 0.5rem;
}

.m-playlist__container__list{
    height: 100%;
    overflow: auto;
    margin: 0 0.5rem;
}