@import '../app/variables.scss';

.a-searchForm__input{
    font-size: 3rem;
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    color: $text-color;
    caret-color: $base-color;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $text-color-gray;
        opacity: 1; /* Firefox */
      }
      
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $text-color-gray;
      }
      
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: $text-color-gray;
      }
}

.a-list__inspiration{
  width: 100%;
  padding: 0 0.5rem;
  color:$white-color;
}