@import '../app/variables.scss';

.m-song-exposer{
    // height: 25vh;
    // width: 25vh;
    // height: calc(50% + 2.5rem);
    width: 55%;
    margin: 0 auto;
}

.m-song-exposer__songInfo{
    padding: 0px 0.5rem;
    display: flex;
    // flex:1;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    transform:translateZ(0);
    margin-bottom: -2px;

    // border-bottom: 1px solid #f4b0b1;
}

.m-song-exposer__image{
    margin-top: 0px !important;
    width: 85% !important;
    border-radius: 50% !important;
    object-fit: cover;
    height: 85%;
}

.CircularProgressbar-trail{
    stroke-width: 1;
    stroke:$base-color-fade-md !important;
}

.CircularProgressbar-path{
    stroke-width: 2;
    stroke: $base-color !important;
}

.m-song-exposer__container__addSong{
    justify-content: center;
    align-items: center;
    display: flex;
    .button{
        background-color: $white-color;
        color: $base-color;
        box-shadow: 0 0 1rem rgba($text-color, 0.2);
    }
}

.m-song-exposer__container__song{
    color: $white-color;
    position: relative;
    flex:1;
    // margin-top: 2rem;
    // .m-song-exposer__infoContainer{
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }
    // .avatar {
    //     vertical-align: middle;
    //     width: 30px;
    //     height: 30px;
    //     border-radius: 50%;
    //     border: 1px solid $white-color;
    //     object-fit: cover;
    //   }
      .m-song-exposer__info{
        display: flex;
        flex-direction: column;
        // margin-left: 0.5rem;
        overflow: auto;
        max-height: 6rem;
        text-align: center;
        color: $text-color;
        // min-height: 4rem;
      }
      .a-song-exposer__song,
      .a-song-exposer__name{
        margin-bottom:0.3rem;
      }
      .a-song-exposer__band,
      .a-song-exposer__name{
          font-size:0.875rem;
      }
      .a-song-exposer__song{
        font-size:1.1rem;
      }
}
.button{
    &.play-button{
        // background-color: $white-color;
        background-color: $base-color-fade-lg;
        color:$white-color;
        .icon{
            color: $white-color;
        }
        &.-disabled{
            cursor: none;
            color: $text-color-gray;
            .icon{
                cursor: none;
                color: $text-color-gray;
            }
        }
    }
}


.m-song-exposer__time{
    position: absolute;
    background-color: $base-color-fade-lg;
    color: $white-color;
    padding: 0.5rem;
    border-radius: 5px;
    min-width: 4.5rem;
    text-align: center;
}