@import '../app/variables.scss';

.a-svg__waves{
    position: absolute;
    width: 100%;
    max-width: 600px;
    shape-rendering: crispEdges;
    transform: translate3d(0, 0, 0);
    // height: fit-content;
    // z-index: -1;
    &.-one{
        fill:$play-back;
        // z-index: -1;
    }
    &.-two{
        // z-index: -2;
        fill:$base-color-fade-lg
    }
    &.-three{
        // z-index: -3;
        fill:$base-color-fade-md

    }
}
